.left-justify {
  text-align: left;
}

.media-table {
  height: 200px;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}
tbody {
  display: block;
  width: 100%;
  table-layout: fixed;
}

.table-body {
  display: block;
  max-height: 300px; /* Set the desired height */
  overflow-y: auto;

  .row-2 {
    width: 20px;
    max-width: 150px;
  }

  .overflow-row {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.query-button-row {
  display: flex;
  flex-direction: row;
}

.query-button {
  margin: 10px;
}
